<picture>
	<% data[:profile][:photo][:additional].each do |format, relative_path| %>
		<source type="image/<%= format %>" srcset="<%= url_with_mtime relative_path %>">
	<% end %>
	<img src="<%= url_with_mtime data[:profile][:photo][:main] %>" class="photo-of-me" alt="Photo of me" />
</picture>

Hello. My name is <%= data[:profile][:first_name] %> (<%= data[:profile][:raw_first_name] %>) <%= data[:profile][:last_name] %>.

I'm <span class="age"><%=
	Moments.difference(Date.new(2013, 8, 31), data[:profile][:birthday]).in_years
%></span>
years old, but I think person experience and opinions are more important than age.

I'm from Moscow (Russia), but I can relocate and make the same things in a lot of places.

## Education

I've finished a school in a class with advanced study of physics and mathematics
with excellent grades.

Then I went to the university for "Programming Engineering" and learned some interesting things
like PHP, JavaScript, MySQL.

I've not finished it because I don't like such disciplines like philosophy, history,
quantum physics and computer chipsets from the '90s:
they were required and took around 80% of time.

I think, I'm ready to study "Computer Science" in a good university (probably in another country).

## English language

My level of English around Intermediate.
I do my best and I like it more than Russian, probably because of its laconism and simplicity.

And I want to learn it more, and I think it's easier when living (or communicating)
with English speakers.

I use my gadgets (smartphone, PC, etc.) and all services (sites) in English,
also I search information almost every time in English,
and I use English for open-source discussions and all commits.

## Software development

### General

I love <%= external_link 'Ruby Language', 'https://www.ruby-lang.org/' %>.

I like <%= external_link '`snake_case`', 'https://en.wikipedia.org/wiki/Snake_case' %>
and <%= external_link 'OOP', 'https://en.wikipedia.org/wiki/Object-oriented_programming' %>.

But I can write a code in any language.
My experience includes C, C++, Pascal, Delphi, Go, PHP, Java, JavaScript.
Especially JavaScript.

### Specialization

I'm Software Engineer. I was leading a team with up to 10 members.
I can design application architecture. Also usually I communicate with other teams
(like Mobile Development) and departaments (like Marketing).

### Skills levels

I'm in about top 10 Ruby developers (people, not percent) worldwide according to <%= external_link 'CodersRank', 'https://profile.codersrank.io/user/alexwayfer' %>.

On the same page you can check other skills, like JavaScript, CSS, etc.
Of course, it's not completely objective truthful scores between all developers, but kind of.

### Projects (experience)

I've made a long path from Delphi in 2011 through PHP and JavaScript to Ruby at the current time.

{::options parse_block_html="true" /}
<div class="recent-projects not-for-print">
Recent commercial projects I was working on:

<% data[:projects][:commercial].first(3).each do |project| %>
*   #### [<%= project[:title] %>](projects.html#<%= project[:title] %>)
<% end %>

[Complete list of significant projects and job tests](projects.html).
</div>
{::options parse_block_html="false" /}

<%=
	render_partial :projects_list, projects: data[:projects], section_classes: %w[only-for-print]
%>

### Open-source projects and activity

I love open-source too much,
here is my <%= external_link 'GitHub profile', 'https://github.com/AlexWayfer' %>.

## Tastes

<% data[:tastes].each do |taste| %>
*   <%= taste %>
<% end %>

## Contacts

<% data[:contacts].each do |contact| %>
*   <%= external_link contact[:title], contact[:link] %><br>
    <%= contact[:description] %>
<% end %>
