{::options parse_block_html="true" /}

<section class="<%= section_classes.join(' ') %>">
<% data.projects.each_pair do |projects_type, projects| %>

### <%= projects_type %>

<% projects.each do |project| %>
*   ### <%
      if project.link
    %><%= external_link project.title, project.link %><%
      else
    %><%= project.title %><%
      end
    %>

    #### <%= project.begin_date %> – <%= project.end_date %>

    <% if project.position %>
    #### <%= project.position %>
    <% end %>

    <% if project.team %>
    #### Team of <%= project.team %>
    {: .team }
    <% end %>

    <%= render project.description.split("\n").join("\n    ") %>

    Technologies:
    <% project.technologies.each do |technology| %>
    *   <%= technology %><% end %>
<% end %>{: .projects }
<% end %>
</section>

{::options parse_block_html="true" /}
