<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title><%= SITE_TITLE %></title>

		<meta property="og:title" content="<%= SITE_TITLE %>" />
		<meta property="og:description" content="Hello, my name is <%= PROFILE[:first_name] %> <%= PROFILE[:last_name] %> and I'm a Software Developer, mostly in Ruby." />
		<meta property="og:type" content="profile" />
		<meta property="og:profile:first_name" content="<%= PROFILE[:first_name] %>" />
		<meta property="og:profile:last_name" content="<%= PROFILE[:last_name] %>" />
		<meta property="og:profile:username" content="<%= PROFILE[:username] %>" />
		<meta property="og:profile:gender" content="<%= PROFILE[:gender] %>" />
		<meta property="og:image" content="<%= url_with_mtime PHOTO_PATH %>" />
		<meta property="og:locale" content="en_US" />
		<meta property="og:url" content="https://alexwayfer.name/" />

		<link rel="stylesheet" href="<%= url_with_mtime 'styles/main.css' %>" />

		<script type="text/javascript">
			window.birthday = Date.parse('<%= BIRTHDAY.iso8601 %>')
		</script>

		<script type="text/javascript" defer src="<%= url_with_mtime 'scripts/lib/svgxuse.min.js' %>" />
		</script>

		<script type="text/javascript" defer src="<%= url_with_mtime 'scripts/main.js' %>" /></script>
	</head>

	<body>
		<div class="container only-for-print">
			<p>
				This is a print of the site.
				Actual information on the <a href="https://alexwayfer.name/">alexwayfer.name</a>.
			</p>
		</div>

		<header>
			<div class="container">
				<h1><%= SITE_TITLE %></h1>

				<button type="button" class="theme-toggle">
					<%= svg_icon :brightness %>
				</button>
			</div>
		</header>

		<main>
			<div class="container">
				<%= page_content %>
			</div>
		</main>

		<footer>
			<div class="container">
				Compiled in <%= Date.today.year %>.
				<%= external_link 'Source code', 'https://github.com/AlexWayfer/alexwayfer.name' %>.
			</div>
		</footer>

		<div class="container back-to-top hidden">
			<a href="#"><%= svg_icon 'arrow-circle-up' %></a>
		</div>
	</body>
</html>
