<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>AlexWayfer's Site</title>

		<link rel="stylesheet" href="<%= url_with_mtime 'styles/main.css' %>" />

		<script type="text/javascript">
			window.birthday = Date.parse('<%= birthday.iso8601 %>')
		</script>

		<script type="text/javascript" defer src="<%= url_with_mtime 'scripts/lib/svgxuse.min.js' %>" />
		</script>

		<script type="text/javascript" defer src="<%= url_with_mtime 'scripts/main.js' %>" /></script>
	</head>

	<body>
		<header>
			<div class="container">
				<h1>AlexWayfer's Site</h1>

				<button type="button" class="theme-toggle">
					<%= svg_icon :brightness %>
				</button>
			</div>
		</header>

		<main>
			<div class="container">
				<%= page_content %>
			</div>
		</main>

		<footer>
			<div class="container">
				Compiled in <%= Date.today.year %>.
				<%= external_link 'Source code', 'https://github.com/AlexWayfer/alexwayfer.name' %>.
			</div>
		</footer>

		<div class="container back-to-top hidden">
			<a href="#"><%= svg_icon 'arrow-circle-up' %></a>
		</div>
	</body>
</html>
